body,
main {
  display: flex;
}

body {
  flex-direction: column;
}

header {
  height: 10rem;
}
main {
  height: 50rem;
  width: 100%;
  flex-direction: row;
  flex: auto;
}

article {
  flex: 2;
  height: 30rem;
  overflow-y: auto;
}

aside {
  flex: 1;
  overflow-y: auto;
}

footer {
  height: 10rem;
  width: 100%;
}
